@import url('https://fonts.Lato.com/css2?family=sans-serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500;1,600&display=swap');

* {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --padding: 1rem;
}

.card-container00 {
  margin: 1rem;
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  algin-items: center;
}

.card00 {
  background: white;
  box-shadow: 0 2px 5px 1px rgba(0, 0, 0, .25);
  border-radius: .50rem;
  overflow: hidden;
}

.card-header .header-title {
  padding: 0 var(--padding);
  font-size: 4.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.card-body00 {
  color: rgb(3, 3, 3);
  font-size: .9rem;
  padding: 0 var(--padding);
  margin-bottom: 1rem;
}

.card-footer00 {
  padding: var(--padding);
  padding-top: 0;
}

.btn00 {
  border: none;
 color: white;
  background-color: #1e7bb7;
  padding: .75em 1.5em;
  border-radius: .25em;
  transition: background-color 200ms ease;
  font-weight: 500;
  margin-right: 5px;
  cursor: pointer;
}

.btn00:hover {
    background-color: #135c8d;
}

.card-header.header-img {
  padding: 0;
  overflow: hidden;
}

.card-header.header-img > img {
  display: block;
  width: 100%;
  max-height: 200px;
  aspect-ratio: 16 / 9;
  object-fit: cover;
  object-position: center;
  transition: filter 200ms ease-in-out;
} 

.card:hover > .card-header.header-img > img {
	filter: brightness(0.9);
}
.header-title2{
  font-size: 35px;
  font-weight: bold;
}